*{
    font-family: monospace;
    margin: 10px;
}
.site{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    margin-top: 50px;
}

h1{
    font-size: 3em;
}
.img{
    display: block;
}
.right{
    margin: 10px;
    line-height: 4.5em;
}
#details{
    line-height: 1em; 
    font-size: 2.3em;
    font-weight: lighter;
    margin-bottom: 80px;
}
.btn{
    background: rgb(17, 17, 17);
    width: 200px;
    height: auto;
    padding: 10px;
}
.btn a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: 'Alef', sans-serif;;
}